.col-6{
  border: black solid 1px;
  width: 50%;
  height: 100px;
  float: left;
  box-sizing: border-box;
}
/*this css code is to split into 2s*/

.col-4{
  border: red solid 2px;
  width:33.333%;
  height:100px;
  float:left;
  box-sizing: border-box;
}
/*only thing that changes really is the width, divide by 100. */
