.text-muted {
  color: #777;
}

h1 {
  font-size: 36px;
}

.narrowjumbotron {
  text-align: center;
  background-color: #eee;
  padding: 36px;
}

.narrowjumbotron p {
  padding-right: 30px;
  padding-left: 30px;
  font-size: 18px;
  line-height: 1.5em;
}
