body {
	font-family: 'Roboto', sans-serif;
	max-width: 1024px;
  margin: 20px;
}

h1 {
	font-size: 36pt;
	color: #C00;
	display: inline;
}

.test {
	disply: inline;
	padding: 30px;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

nav {
  text-align: center;
}

ul {
	padding-left: 0;
}
nav ul {
  margin: 0;
  list-style: none;
}

nav li {
  float: left;
	width: 16.666%;
	margin: 0;
	padding:0;
}

header nav a{
	color: #fff;
	font-size: 14pt;
	background-color: #000000;
	margin: 2px 2px 2px 2px;
	padding: 10px 20px;
	display: block;
	text-align: center;
}

.left {
  float: left;
  width: 69%;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-left: 10px;
	margin-right: 10px;
}

.right {
  float: right;
  width: 25%;
	padding-top: 20px;
}

.dates {
	color: #C0C0C0
}

footer {
  float:left;
  font-size: 12pt;
}
